body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/port.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.api-presentation {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
  width: 100%;
}

.api-connection {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #007bff;
  margin-bottom: 20px; 
  width: 80%; 
}

.api-menu {
  font-size: 30px;            
  font-weight: bold;          
  text-transform: uppercase;
  color: #007bff;
}

.api-docs {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-bottom: 50px;
}

a, button {
  font-size: 18px;
  text-decoration: none;
  color: #007bff;
  margin: 10px 0;
}

button {
  background-color: white;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #007bff;
  color: white;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box; 
}

label {
  margin-bottom: 5px; 
  display: block; 
}
