<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails Catway</title>
    <script src="/controllers/catway-details.js" defer></script>
    <link rel="stylesheet" href="/public/stylesheets/catway-details.css">
</head>
<body>
    <div class="menu-container">
        <h1>Détails Catway</h1>
        <p class="details"><strong>Catway Number:</strong> <span id="catwayNumber"></span></p>
        <p class="details"><strong>Type:</strong> <span id="type"></span></p>
        <p class="details"><strong>State:</strong> <span id="catwayState"></span></p>
        <div class="button-container">
            <a href="/list-catways" class="btn">Retour à la liste des Catways</a>
        </div>
    </div>
</body>
</html>
