<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails Catway</title>
    <script src="../public/javascripts/catway-details.js" defer></script>
</head>
<body>
    <h1>Détails Catway</h1>
    <p><strong>Catway Number:</strong> <span id="catwayNumber"></span></p>
    <p><strong>Type:</strong> <span id="type"></span></p>
    <p><strong>State:</strong> <span id="catwayState"></span></p>
    <a href="/list-catways">Retour à la liste des Catways</a>
</body>
</html>
