<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier Catway</title>
    <script src="/controllers/edit-catway.js" defer></script>
    <link rel="stylesheet" href="/public/stylesheets/edit-catway.css">
</head>
<body>
    <div class="menu-container">
        <h1 class="api-menu">Modifier Catway</h1>
        <form id="edit-form">
            <div class="form-group">
                <label for="catwayNumber">Catway Number:</label>
                <input type="text" id="catwayNumber" required>
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <input type="text" id="type" required>
            </div>
            <div class="form-group">
                <label for="catwayState">State:</label>
                <input type="text" id="catwayState" required>
            </div>
            <button type="submit">Mettre à jour</button>
        </form>
        <div class="button-container">            
            <a href="/list-catways" class="btn">Retour à la liste des Catways</a>
        </div>
    </div>
</body>
</html>
