<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier Réservation</title>
    <script src="/controllers/edit-reservation.js" defer></script>
    <link rel="stylesheet" href="../public/stylesheets/edit-reservation.css">
</head>
<body>
    <div class="menu-container">
        <h1>Modifier Réservation</h1>
        <form id="edit-form">
            <div class="form-group"> 
                <label for="catwayNumber">Catway Number:</label>
                <input type="text" id="catwayNumber" required>
            </div>
            <div class="form-group"> 
                <label for="clientName">Nom du Client:</label>
                <input type="text" id="clientName" required>
            </div>
            <div class="form-group"> 
                <label for="boatName">Nom du Bateau:</label>
                <input type="text" id="boatName" required>
            </div>
            <div class="form-group"> 
                <label for="checkIn">Date d'entrée:</label>
                <input type="date" id="checkIn" required>
            </div>
            <div class="form-group"> 
                <label for="checkOut">Date de sortie:</label>
                <input type="date" id="checkOut" required>
            </div>
            <button type="submit">Mettre à jour</button>
        </form>
        <div class="button-container">
            <a href="/list-reservations" class="btn">Retour à la liste des Réservations</a>
        </div>
    </div>
</body>
</html>
