<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../controllers/login.js" defer></script>
</head>
<body>
    <h1>Connexion</h1>
    <form id="login-form">
        <div>
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
        </div>
        <br>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <button type="submit">Se connecter</button>
    </form>
    <br>
    <a href="doc" target="_blank">Voir la documentation</a>
</body>
</html>