<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilisateurs</title>
    <script src="../controllers/userController.js" defer></script> 
</head>
<body>
    <h1>Liste des Utilisateurs</h1>
    <table>
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="user-table-body">
            <!-- Les utilisateurs seront insérés ici -->
        </tbody>
    </table>
    <a href="/add-user" class="btn">Ajouter un Utilisateur</a><br>
    <a href="/menu" class="btn">retour au menu</a>
</body>
</html>
