<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catways</title>
    <script src="../controllers/list-catway.js" defer></script> 
</head>
<body>
    <h1>Liste des Catways</h1>
    <table>
        <thead>
            <tr>
                <th>Catway Number</th>
                <th>Type</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody id="catway-table-body">
            <!-- Les catways seront insérés ici -->
        </tbody>
    </table>
    <a href="/add-catway" class="btn">Ajouter un Catway</a><br>
    <a href="/menu" class="btn">retour au menu</a>
</body>
</html>
