<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../controllers/logout.js" defer></script>
</head>
<body>
    <a href="list-catways">Voir les Catways</a><br>
    <br>
    <a href="list-user">Voir les Utilisateurs</a><br>
    <br>
    <a href="list-reservations">Voir les Réservations</a><br>
    <br>
    <button id="logoutBtn">Déconnexion</button>
</body>
</html>