<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../controllers/logout.js" defer></script>
    <link rel="stylesheet" href="../public/stylesheets/menuapi.css">
</head>
<body>
    <div class="menu-container">
        <h2 class="api-menu">Menu de l'API</h2>
        <a href="list-catways">Voir les Catways</a>
        <a href="list-user">Voir les Utilisateurs</a>
        <a href="list-reservations">Voir les Réservations</a>
        <button id="logoutBtn">Déconnexion</button>
    </div>
</body>
</html>