<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails Réservation</title>
    <script src="/controllers/reservation-details.js" defer></script>
</head>
<body>
    <h1>Détails de la Réservation</h1>
    <p><strong>Catway Number:</strong> <span id="catwayNumber"></span></p>
    <p><strong>Nom du Client:</strong> <span id="clientName"></span></p>
    <p><strong>Nom du Bateau:</strong> <span id="boatName"></span></p>
    <p><strong>Date d'Arrivée:</strong> <span id="checkIn"></span></p>
    <p><strong>Date de Départ:</strong> <span id="checkOut"></span></p>
    <a href="/list-reservations">Retour à la liste des Réservations</a>
</body>
</html>
